{% extends 'base/base.html' %} {% block content %}

<div class="pb-9">
    
    <div id="dealsTable" >
      <!-- <div class="row  justify-content-end mb-4">
        <div class="col-12">
          <div class="d-flex">
            <div class="search-box me-2">
              <form class="position-relative search_passport_form"  action="{% url 'passport_app:search_passport' %}" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input search" type="search" id="passport_search_input"   placeholder="Search by Passport Number" />
                <span class="fas fa-search search-box-icon"></span>
              </form>
            </div>
          </div>
        </div> 
      </div> -->


      <div class="row g-3 justify-content-between mb-4">
        <div class="col-auto">
          <div class="d-md-flex justify-content-between">
            <div id="agent-create">
                <h2 class="mb-4">All Passports</h2>
            </div>
          </div>
        </div>
        
        <!--search by agent name-->

        <div class="col-auto ">
          <div class="d-flex">
            <div class="search-box me-2">
              <form class="position-relative search_agent_form"  action="{% url 'agent_management_app:agent_search' %}" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input search" type="search" id="agent_search_input"   placeholder="Search by Agent ID,name,phone number" />
                <span class="fas fa-search search-box-icon"></span>
              </form>
            </div>
          </div>
        </div>
      </div>

<script>
$(function(){
    var searchform=function(){
        var form=$(this)
        var search_value=$("#passport_search_input").val()
        $.ajax({
            url:form.attr('action'),
            data:{'search_value':search_value},
            dataType:'json',

            success:function(data){
                console.log('i am in success passport')
              $("#deal-tables-body").html(data.search_list)
            }
        })
     
    }
    $(".search_passport_form").on('input',searchform)
})

</script>      


<!--agent card -->
      <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-body">
              <div class="table-responsive scrollbar mx-n1 px-1 border-top ">
                <table id="agent-table" class="table fs--1 mb-0 leads-table border-bottom">
                  <thead>
                    <tr>
                      
                      <!--agent information fields-->
                      <!--agent id -->
                      <th class=" align-middle white-space-nowrap pe-4 text-center  text-uppercase  border-end"
                      scope="col" style="width: 15%">Passport No.
                      </th>
                      
                <!--Full Name Name-->
                      <th class=" align-middle white-space-nowrap pe-4 text-center  text-uppercase  border-end"
                      scope="col" style="width: 15%">Passport Expiry Date
                      </th>

                       <!--Gender-->
                      <th class=" align-middle white-space-nowrap pe-4 text-center  text-uppercase  border-end"
                      scope="col" style="width: 15%">Passenger Name
                      </th>
                     
                     
                       <!--phone number-->
                      <th class=" align-middle white-space-nowrap pe-4 text-center  text-uppercase  border-end"
                      scope="col" style="width: 15%">Phone Number
                      </th>


                         <!--phone number-->
                         <th class=" align-middle white-space-nowrap pe-4 text-center  text-uppercase  border-end"
                         scope="col" style="width: 15%">Email
                         </th>

                         <th class=" align-middle white-space-nowrap pe-4 text-center  text-uppercase  "
                         scope="col" style="width: 15%">Agent
                         </th>


              
                    
                    </tr>
                  </thead>

                  <tbody class="list" id="deal-tables-body">
                     {% include 'all_passport/passport_list.html' %} 
                  </tbody>
                </table>
              </div>

                <!--pegination--->
            </div>
        </div>
      </div>
        
      
      </div>
</div>



{% endblock %}