<form method="post" action="{% url 'agent_management_app:agent_transaction_delete' middleman_transaction.id %}" class="AgentTransactionDeleteForm">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        {% if middleman_transaction.debit == 0 %}
          Credit Transaction Amount {{ middleman_transaction.credit }}
        {% else %}
          Debit Transaction Amount {{ middleman_transaction.debit }}
        {% endif %}
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
  
    <div class="modal-body">
      <div class="input-group mb-3">
        <h5 class="text">Are you sure, you want to delete?</h5>
      </div>
    </div>
  
    <div class="modal-footer">
      <div class="form-submit">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="loading" class="btn btn-danger" data-bs-save="modal">Delete</button>
      </div>
    </div>
  </form>
  