<div class="auth-form-box" id="user_verification_form">
  <div class="text-center mb-7">
    <a class="d-flex flex-center text-decoration-none mb-4" href="">
      <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
        <img src="https://cdn.musfiqdehan.com/templates/mypx/auth/assets/img/icons/musfiqdehan_icon_logo.png" alt="Md. Musfiqur Rahaman" width="58" />
      </div>
    </a>
    <h3 class="text-1000">Sign In</h3>
    <p class="text-700">Get access to your account</p>
  </div>

  <div>
    <div class="position-relative">
      <hr class="bg-200 mt-5 mb-4" />
      <div class="divider-content-center bg-white">Enter Password</div>
    </div>

    <div id="user_password_error_id"></div>
    <form method="post" action="{% url 'administration_app:ajax_email_login' %}" class="login_form_class">
      {% csrf_token %}
      <div class="auth-form-box mb-2">
        <input class="form-control mb-3" id="email" name="username" value="{{ user_email }}" hidden />
        <input class="form-control mb-3" id="password" type="password" name="password" placeholder="Enter Password" required />
        <div id="SingInButton">
          <button id="loading" type="submit" class="button-25">Sign In</button>
        </div>
      </div>

      <div class="row flex-between-center mb-7">
        <div class="col-auto"></div>
        <div class="col-auto">
          <a class="fs--1 fw-semi-bold" onclick="userForgotPasword()">Forgot Password?</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Include CSRF token as a JavaScript variable -->
<script>
  const csrfToken = '{{ csrf_token }}'
</script>

<!-- - password Forgot script -->
<script>
  function userForgotPasword() {
    var email = $('#email').val() // Get the user's email from the hidden field
  
    $.ajax({
      url: '/erp-administration/forgot-password-button/',
      type: 'post',
      data: { email: email, csrfmiddlewaretoken: csrfToken }, // Include the CSRF token
      dataType: 'json',
      success: function (data) {
        if (data.updated_form) {
          // Update the page content with the verification form
          $('#user_verification_form').html(data.updated_form)
        } else {
          // Handle the error, e.g., display an error message
          alert('Failed to resend verification code.')
        }
      }
    })
  }
</script>

<!-- Scripts for password -->
<script>
  $(function () {
    /* Save Form */
    var saveForm = function () {
      var form = $(this)
      $.ajax({
        url: form.attr('action'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
  
        beforeSend: function () {
          $('#loading').html('<div class="text-center"><div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div></div>')
        },
  
        success: function (data) {
          if (data.login_error) {
            // Handle the error message here (e.g., display it to the user)
            $('#user_password_error_id').html(data.login_error)
            $('#SingInButton').html('<button id="loading" type="submit" class="button-25">Sign In</button>')
          } else if (data['superuser_redirect_url']) {
            window.location.replace(data['superuser_redirect_url'])
          } else if (data['normal_user_redirect_url']) {
            window.location.replace(data['normal_user_redirect_url'])
          }
  
          // if User is not organization verification then redirect the organization register page.
          else if (data.organization_verification_updated_form) {
            $('#user_verification_form').html(data.organization_verification_updated_form)
          } else if (data.not_verified) {
            $('#user_verification_form').html(data.verification_form)
          } else {
            console.log('Failed')
          }
        }
      })
      return false
    }
  
    //login with ajax
    $('.login_form_class').on('submit', saveForm)
  })
</script>
