<div class="col mx-auto">
  <div class="auth-form-box">
    <div class="text-center mb-7">
      <a class="d-flex flex-center text-decoration-none mb-4" href="../../../index.html">
        <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
          <img src="https://cdn.musfiqdehan.com/templates/mypx/auth/assets/img/icons/musfiqdehan_icon_logo.png" alt="Md. Musfiqur Rahaman" width="58" />
        </div>
      </a>
      <h4 class="text-1000">Reset new password</h4>
      <p class="text-700">Type your new password</p>
    </div>

    <!-- forgot password Form -->
    <div id="user_registration_error_id"></div>
    <div id="password_do_not_match_error"></div>
    <!-- Add a container for the password match error -->
    <div id="password_match_error" style="color: red"></div>

    <p id="error" style="color: red"></p>
    <div id="show_all_error" style="display: none">
      <ul>
        <li id="min_length" style="color: red">password should be atleast 8 character</li>
        <li id="uppercase" style="color: red">password should have atleast 1 uppercase letter</li>
        <li id="lowercase" style="color: red">password should have atleast 1 lowercase letter</li>
        <li id="special" style="color: red">password should have atleast 1 special Character</li>
        <li id="number" style="color: red">password should have at least 1 number</li>
      </ul>
    </div>

    <div id="password_do_not_match_error"></div>
    <form method="post" action="{% url 'administration_app:change_password' %}" class="password_change_login_form">
      {% csrf_token %}
      <div class="auth-form-box">
        <input class="form-control mb-3" id="email" name="user_email" value="{{ user_email }}" hidden />

        <input class="form-control mb-2" id="password" type="password" name="new_password" placeholder="Type new password" />
        <input class="form-control mb-4" id="confirmPassword" type="password" name="confirm_new_password" placeholder="Confirm new password" />

        <button id="loading" class="button-25" type="submit">Set Password</button>
      </div>
    </form>
  </div>
</div>

<!-- Forgot Password validation script -->
<script>
  const signupButton = document.getElementById('loading')
  signupButton.disabled = true // Disable the button by default
  
  const passwordInput = document.getElementById('password')
  const password1 = document.getElementById('password') // Move this line outside of the DOMContentLoaded event listener
  const password2 = document.getElementById('confirmPassword') // Move this line outside of the DOMContentLoaded event listener
  
  passwordInput.addEventListener('input', validationPassword)
  
  function validationPassword() {
    const password = passwordInput.value
  
    const message = document.getElementById('show_all_error')
    message.style.display = 'block'
    const uppercase = document.getElementById('uppercase')
    const min_length = document.getElementById('min_length')
    const special = document.getElementById('special')
    const number = document.getElementById('number')
  
    const minLength = 8
    const hasUpperCase = /[A-Z]/.test(password)
    const hasLowerCase = /[a-z]/.test(password)
    const HasNumber = /\d/.test(password)
    const hasSpecialChar = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/.test(password)
  
    if (hasUpperCase) {
      uppercase.style.color = 'green'
    }
    if (!hasUpperCase) {
      uppercase.style.color = 'red'
    }
    if (hasLowerCase) {
      lowercase.style.color = 'green'
    }
    if (!hasLowerCase) {
      lowercase.style.color = 'red'
    }
    if (hasSpecialChar) {
      special.style.color = 'green'
    }
    if (!hasSpecialChar) {
      special.style.color = 'red'
    }
    if (HasNumber) {
      number.style.color = 'green'
    }
    if (!HasNumber) {
      number.style.color = 'red'
    }
    if (password.length >= 8) {
      min_length.style.color = 'green'
    }
    if (password.length < 8) {
      min_length.style.color = 'red'
    }
  
    // Check all validation conditions
    const isValidPassword = hasUpperCase && hasLowerCase && HasNumber && hasSpecialChar && password.length >= minLength // Check if passwords Match.
  
    if (isValidPassword) {
      // Add an input event listener to the password fields
      password1.addEventListener('input', checkPasswordMatch)
      password2.addEventListener('input', checkPasswordMatch)
  
      function checkPasswordMatch() {
        // Check if passwords match
        if (password1.value !== password2.value) {
          // Display error message in password_do_not_match_error element
          const errorDiv = document.getElementById('password_do_not_match_error')
          errorDiv.textContent = 'Passwords do not match.'
          errorDiv.style.color = 'red' // Optionally, you can apply styling
  
          signupButton.disabled = true
          console.log('Password not matched')
        } else {
          // Clear the error message and enable the button
          const errorDiv = document.getElementById('password_do_not_match_error')
          errorDiv.textContent = '' // Clear the error message
          signupButton.removeAttribute('disabled')
          const error_hidden = document.getElementById('show_all_error')
          error_hidden.style.display = 'none'
        }
      }
  
      // signupButton.removeAttribute("disabled");
    } else {
      signupButton.disabled = true
    }
  }
</script>

<!-- Scripts for password Change -->
<script>
  $(function () {
    /* Save Form */
    var saveForm = function () {
      var form = $(this)
      var email = form.find('#email').val() // Get the user's email from the hidden field
      var dataToSend = form.serializeArray()
      dataToSend.push({ name: 'email', value: email }) // Add email to the data
  
      $.ajax({
        url: form.attr('action'),
        data: dataToSend,
        type: form.attr('method'),
        dataType: 'json',
  
        success: function (data) {
          if (data.password_change_form_is_valid) {
            window.location.replace('/hrm/hrm-index/')
          } else {
            console.log('Failed')
          }
        }
      })
      return false
    }
  
    // Login with AJAX
    $('.password_change_login_form').on('submit', saveForm)
  })
</script>
