<div id="organization_form_id">
  <div class="auth-form-box">
    <div class="text-center">
      <a class="d-flex flex-center text-decoration-none mb-4" href="https://cdn.musfiqdehan.com/templates/mypx/auth/index.html">
        <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
          <img src="https://cdn.musfiqdehan.com/templates/mypx/auth/assets/img/icons/musfiqdehan_icon_logo.png" alt="musfiqdehan" width="58" />
        </div>
      </a>
      <h4 class="text-1000">Enter the verification code</h4>
      <p class="text-700 mb-0">An email containing a 6-digit verification code has been sent to the email address - exa*********.com</p>
      <p class="fs--2 mb-5">
        Don’t have access? <a href="#!">Use another method</a>
      </p>

      <div id="user_verify_error_id"></div>
      <div id="user_verify_time_error_id"></div>
      <div id="user_verify_code_resent_id"></div>

      <form method="post" class="verification_user_form" action="{% url 'administration_app:verify_code' %}">
        {% csrf_token %}
        <input class="form-control mb-3" id="email" name="user_email" value="{{ user }}" hidden />

        <div class="d-flex align-items-center gap-2 mb-3">
          <input class="form-control px-2 text-center verification-code-input" type="text" name="verification_code_1" inputmode="numeric" pattern="[0-9]" maxlength="1" required />
          <input class="form-control px-2 text-center verification-code-input" type="text" name="verification_code_2" inputmode="numeric" pattern="[0-9]" maxlength="1" required />
          <input class="form-control px-2 text-center verification-code-input" type="text" name="verification_code_3" inputmode="numeric" pattern="[0-9]" maxlength="1" required />
          <span>-</span>
          <input class="form-control px-2 text-center verification-code-input" type="text" name="verification_code_4" inputmode="numeric" pattern="[0-9]" maxlength="1" required />
          <input class="form-control px-2 text-center verification-code-input" type="text" name="verification_code_5" inputmode="numeric" pattern="[0-9]" maxlength="1" required />
          <input class="form-control px-2 text-center verification-code-input" type="text" name="verification_code_6" inputmode="numeric" pattern="[0-9]" maxlength="1" required />
        </div>

        <div id="timer-container" class="hidden" style="display: none">
          <p id="time-remaining">
            Time Remaining: <span id="timer">02:00</span>
          </p>
        </div>

        <div id="timer-container-registration">
          <p id="time-remaining3">
            Time Remaining: <span id="timer_registration">02:00</span>
          </p>
        </div>

        <div id="verify_Button" class="row p-1">
          <div class="col-md-7">
            <button id="loading" class="btn btn-primary w-100 mb-5" type="submit">Verify</button>
          </div>
          <div class="col-md-5">
            <button id="resend-code-button" class="btn btn-secondary fs--1 w-100">Resend OTP</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Include CSRF token as a JavaScript variable -->
<script>
  const csrfToken = '{{ csrf_token }}'
</script>

<script>
  $(function () {
    /* Save Form */
    var saveForm = function () {
      console.log('Save Form-inside')
      var form = $(this)
      $.ajax({
        url: form.attr('action'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
  
        beforeSend: function () {
          $('#loading').html('<div class="text-center"><div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div></div>')
        },
  
        success: function (data) {
          if (data.not_verified) {
            $('#user_verify_error_id').html(data.not_verified)
            $('#verify_Button').html('<button id="loading" type="submit" class="btn btn-primary w-100 mb-3">Verify</button>')
          } else if (data.verify_time_not_valid) {
            $('#user_verify_error_id').remove()
            $('#user_verify_time_error_id').html(data.verify_time_not_valid)
            $('#verify_Button').html('<button id="loading" type="submit" class="btn btn-primary w-100 mb-3">Verify</button>')
          } else if (data.organization_verification_form) {
            $('#organization_form_id').html(data.organization_verification_form)
  
            // window.location.replace("/hrm/hrm-index/");
          } else {
            console.log('Failed')
          }
        }
      })
      return false
    }
  
    // Login with AJAX
    $('.verification_user_form').on('submit', saveForm)
  })
  
  // Resent verification code Script
  $(document).ready(function () {
    $('#resend-code-button').on('click', function () {
      var email = $('#email').val() // Get the user's email from the hidden field
      $.ajax({
        url: '/erp-administration/resend-verification-code/',
        type: 'post',
        data: { email: email, csrfmiddlewaretoken: csrfToken }, // Include the CSRF token
        dataType: 'json',
        success: function (data) {
          if (data.resend_code_success) {
            $('#user_verify_error_id').remove()
            $('#user_verify_time_error_id').remove()
            $('#user_verify_code_resent_id').html(data.resend_code_success)
  
            // Update verify code Send Start Time
            const timeRemainingHeading_regtration = document.getElementById('timer-container-registration')
            timeRemainingHeading_regtration.style.display = 'none'
  
            const timeRemainingHeading = document.getElementById('timer-container')
            timeRemainingHeading.style.display = 'block'
            startTimer(20) //
  
            // Update Button for Disable
            const myButton = document.getElementById('resend-code-button')
            // Disable the button
            myButton.disabled = true
          } else {
            // Handle the error, e.g., display an error message
            alert('Failed to resend verification code.')
          }
        },
        error: function () {
          // Handle any AJAX errors here
          alert('An error occurred while sending the request.')
        }
      })
    })
  })
</script>

<!-- verification script for code setup -->
<script>
  $(document).ready(function () {
    $('.verification-code-input').on('input', function () {
      var input = $(this)
      if (input.val().length === 1) {
        input.nextAll('.verification-code-input').first().focus()
      } else if (input.val().length > 1) {
        // Limit the input to a single digit
        input.val(input.val().charAt(0))
        input.nextAll('.verification-code-input').first().focus()
      }
    })
  })
</script>

<!-- Verify Time Script -->
<script>
  let countdown
  const timerDisplay = document.getElementById('timer')
  const startButton = document.getElementById('resend-code-button')
  
  function startTimer(durationInSeconds) {
    const startTime = Date.now()
    const endTime = startTime + durationInSeconds * 1000
  
    function updateTimer() {
      const currentTime = Date.now()
      const remainingTime = endTime - currentTime
  
      if (remainingTime <= 0) {
        clearInterval(countdown)
        timerDisplay.textContent = '00:00'
        const myButton = document.getElementById('resend-code-button')
        // Enable the button
        myButton.disabled = false
        return
      }
  
      const minutes = Math.floor(remainingTime / 1000 / 60)
      const seconds = Math.floor((remainingTime / 1000) % 60)
  
      const displayMinutes = String(minutes).padStart(2, '0')
      const displaySeconds = String(seconds).padStart(2, '0')
  
      timerDisplay.textContent = `${displayMinutes}:${displaySeconds}`
    }
  
    updateTimer()
    countdown = setInterval(updateTimer, 1000)
  }
</script>
