{% for data in passenger_list %}
  <tr class="hover-actions-trigger btn-reveal-trigger position-static">
    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 text-center border-end">{{ forloop.counter }}</td>

    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end text-center">{{ data.passport }}</td>

    <td class="align-middle white-space-nowrap text-center text-center text-uppercase border-end">
      <a class="fw-semi-bold">{{ data.full_name }}</a>
    </td>

    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 text-center border-end">{{ data.get_gender_display }}</td>

    {% if data.agent_list.full_name %}
      <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 text-center border-end">{{ data.agent_list.full_name }}</td>
    {% else %}
      <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 text-center text-center border-end">
        <span style="color: red;">NO AGENT</span>
      </td>
    {% endif %}

    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 border-end text-center">{{ data.phone_number }}</td>

    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 border-end text-center">
      {% if data.fly_status %}
        Fly Success
      {% else %}
        Processing
      {% endif %}
    </td>

    <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
      <div class="font-sans-serif btn-reveal-trigger position-static">
        <div style="display: flex" class="end-0">
          <!-- view -->
          <div>
            <a href="{% url 'passenger_app:passenger_details' data.id %}" class="btn btn-phoenix-secondary btn-icon me-1 fs--2 text-success px-0"><span class="fas fa-angle-double-right"></span></a>
          </div>

          <!-- edit -->
          <div>
            <button class="btn passengerEditButton btn-phoenix-secondary btn-icon me-1 fs--2 text-900 px-0" data-url="{% url 'passenger_app:passenger_edit' data.id %}"><span class="fas fa-edit"></span></button>
          </div>

          <!-- delete -->
          <div>
            <button class="btn passengerDeleteButton btn-phoenix-secondary btn-icon fs--2 text-danger px-0" data-url="{% url 'passenger_app:passenger_delete' data.id %}"><span class="fas fa-trash"></span></button>
          </div>
        </div>
      </div>
    </td>
  </tr>
{% endfor %}
