<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<style>
    /* Disable default password eye button */
    input[type="password"]::-ms-reveal {
        display: none;
    }

    input[type="password"] {
        -webkit-text-security: disc;
    }

    .password-container {
        position: relative;
    }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #888;
        display: none;
        /* Hide the eye icon by default */
    }

</style>

<div class="mb-4 text-start">
    <label class="form-label" for="id_password">Password</label>
    <div class="form-icon-container password-container">
      <input class="form-control form-icon-input password-input" id="passwordField" type="password" name="password" placeholder="Password" autocomplete="current-password" required id="id_password" /><span class="fas fa-key text-900 fs--1 form-icon"></span>
      <i class="toggle-password fas fa-eye" id="togglePassword"></i>
    </div>
</div>

<script>
    const passwordField = document.getElementById('passwordField');
    const togglePassword = document.getElementById('togglePassword');

    passwordField.addEventListener('input', function () {
        if (this.value.length > 0) {
            togglePassword.style.display = 'block';
        } else {
            togglePassword.style.display = 'none';
        }
    });

    togglePassword.addEventListener('click', function () {
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);

        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });
</script>