{% extends 'base.html' %}

{% load static %}

{% block page_name %}
  {{ page_name }}
{% endblock %}

{% block header_image %}
  {% include 'components/carousel.html' %}
{% endblock %}

{% block page_content %}
  <!-- About Start -->
  <div class="container-fluid about-section py-5">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
          <div class="rounded-3">
            <img src="{% static 'website_v2/img/about-2.webp' %}" class="img-fluid w-100 about-img-1" alt="Image" />
            <img src="{% static 'website_v2/img/bd-workers-4.webp' %}" class="img-fluid w-100 about-img-2" alt="Image" />
          </div>
        </div>
        <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
          <h5 class="sub-title pe-3">About the company</h5>
          <h1 class="display-5 mb-4">Leading Manpower Export Company</h1>
          <p class="mb-4">
            <strong>Manpower Supply Agency International Limited</strong> is a leading manpower export company based in Bangladesh, dedicated to transforming the lives of skilled and semi-skilled laborers by providing them with international employment opportunities.
          </p>
          <div class="row gy-4 align-items-center">
            <div class="bg-light rounded p-4 mb-4">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex">
                    <div class="pe-4">
                      <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="fas fa-arrows-to-circle text-white fa-2x"></i>
                      </div>
                    </div>
                    <div class="">
                      <a class="h4 d-inline-block mb-3">Our Goal</a>
                      <p class="mb-0">Our primary goal is to bridge the gap between the labor market in Bangladesh and the demand for skilled workers in various countries, thereby contributing to the economic growth of Bangladesh through substantial remittance earnings.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="bg-light rounded p-4 mb-4">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex">
                    <div class="pe-4">
                      <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="fas fa-chart-simple text-white fa-2x"></i>
                      </div>
                    </div>
                    <div class="">
                      <a class="h4 d-inline-block mb-3">Our Mission</a>
                      <p class="mb-0">To empower individuals by providing them with the skills, training, and opportunities needed to secure meaningful employment overseas, thus improving their quality of life and supporting the development of their home country.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="bg-light rounded p-4 mb-4">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex">
                    <div class="pe-4">
                      <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="fas fa-bullseye text-white fa-2x"></i>
                      </div>
                    </div>
                    <div class="">
                      <a class="h4 d-inline-block mb-3">Our Vision</a>
                      <p class="mb-0">To be the most trusted and reliable partner for global manpower solutions, recognized for our commitment to excellence, integrity, and the well-being of the workers we serve.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a class="btn btn-primary border-secondary rounded-pill text-white py-3 px-5" href="{% url 'website_v2:about' %}">Know More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Counter Facts Start -->
  <div class="container-fluid counter-facts py-5">
    <div class="container py-5">
      <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
          <div class="counter">
            <div class="counter-icon">
              <i class="fas fa-passport"></i>
            </div>
            <div class="counter-content">
              <h3>Visa Categories</h3>
              <div class="d-flex align-items-center justify-content-center">
                <span class="counter-value" data-toggle="counter-up">31</span>
                <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
          <div class="counter">
            <div class="counter-icon">
              <i class="fas fa-users"></i>
            </div>
            <div class="counter-content">
              <h3>Team Members</h3>
              <div class="d-flex align-items-center justify-content-center">
                <span class="counter-value" data-toggle="counter-up">377</span>
                <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
          <div class="counter">
            <div class="counter-icon">
              <i class="fas fa-user-check"></i>
            </div>
            <div class="counter-content">
              <h3>Visa Process</h3>
              <div class="d-flex align-items-center justify-content-center">
                <span class="counter-value" data-toggle="counter-up">4.9</span>
                <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">K</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
          <div class="counter">
            <div class="counter-icon">
              <i class="fas fa-handshake"></i>
            </div>
            <div class="counter-content">
              <h3>Success Rates</h3>
              <div class="d-flex align-items-center justify-content-center">
                <span class="counter-value" data-toggle="counter-up">98</span>
                <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Facts End -->

  <!-- Services Start -->
  <div class="container-fluid features overflow-hidden py-5">
    <div class="container">
      <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="sub-style">
          <h5 class="sub-title text-primary px-3">What Is Our Services?</h5>
        </div>
        <h1 class="display-5 mb-4">Comprehensive solutions from training to job placement, ensuring a smooth overseas journey.</h1>
        {% comment %} <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p> {% endcomment %}
      </div>
      <div class="row g-4 justify-content-center text-center">
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fas fa-users fa-4x text-primary"></i>
              <i class="fas fa-arrow-right fa-2x text-primary"></i>
              <i class="fas fa-users-gear fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Training Programs</h5>
              <p class="mb-3">We offer specialized training for semi-skilled and unskilled workers to enhance their skills and make them competitive in the global job market</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fas fa-atlas fa-4x text-primary"></i>
              <i class="fas fa-arrow-right fa-2x text-primary"></i>
              <i class="fab fa-cc-visa fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Visa & Passport Processing</h5>
              <p class="mb-3">From passport applications to visa approvals, we manage all aspects of the documentation process</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fa-solid fa-fingerprint fa-4x text-primary"></i>
              <i class="fas fa-arrow-right fa-2x text-primary"></i>
              <i class="fa-solid fa-plane-departure fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Pre-Departure Assistance</h5>
              <p class="mb-3">This includes police clearance, medical certification, MoFA approval, fingerprint appointments, and more</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.7s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fas fa-ticket fa-4x text-primary"></i>
              <i class="fas fa-arrow-right fa-2x text-primary"></i>
              <i class="fas fa-plane-up fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Flight Ticket Booking</h5>
              <p class="mb-3">We arrange flight tickets for workers, ensuring they reach their destination smoothly</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.9s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fas fa-plane-arrival fa-4x text-primary"></i>
              <i class="fas fa-arrow-right fa-2x text-primary"></i>
              <i class="fas fa-briefcase fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Job Placement</h5>
              <p class="mb-3">We collaborate with international companies to place workers in various sectors</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="{% url 'website_v2:services' %}">More Services</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Services End -->

  <!-- Choose Us Start -->
  <div class="container-fluid features overflow-hidden py-5">
    <div class="container">
      <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="sub-style">
          <h5 class="sub-title text-primary px-3">Why Choose Us?</h5>
        </div>
        <h1 class="display-5 mb-4">Your trusted partner for end-to-end international employment support and worker welfare</h1>
      </div>
      <div class="row g-4 justify-content-center text-center">
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fas fa-arrows-rotate fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Comprehensive Services</h5>
              <p class="mb-3">Complete overseas employment support, from training to job placement.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fa-solid fa-circle-nodes fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Global Network</h5>
              <p class="mb-3">Access to diverse job opportunities in the Middle East and beyond.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fa-solid fa-people-group fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Experienced Team</h5>
              <p class="mb-3">Skilled in international employment, focused on worker welfare and success.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fa-solid fa-chart-simple fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Proven Track Record</h5>
              <p class="mb-3">Thousands of workers placed abroad with high satisfaction and trust.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="{% url 'website_v2:services' %}">More Services</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Choose End -->

  <!-- Uniqueness Start -->
  <div class="container-fluid features overflow-hidden py-5">
    <div class="container">
      <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="sub-style">
          <h5 class="sub-title text-primary px-3">What Sets Us Apart?</h5>
        </div>
        <h1 class="display-5 mb-4">Offer Tailor Made Services That Our Client Requires</h1>
      </div>
      <div class="row g-4 justify-content-center text-center">
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fa-solid fa-person-chalkboard fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Tailored Training Programs</h5>
              <p class="mb-3">Industry-specific training to meet international job standards.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fa-solid fa-arrows-spin fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">End-to-End Support</h5>
              <p class="mb-3">Full assistance from consultation to post-departure, ensuring smooth transitions.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
          <div class="feature-item text-center p-4">
            <div class="feature-icon p-3 mb-4">
              <i class="fa-solid fa-face-smile fa-4x text-primary"></i>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-3">Commitment to Worker Welfare</h5>
              <p class="mb-3">Prioritizing safety and support throughout the worker’s journey abroad.</p>
            </div>
          </div>
        </div>

        <div class="col-12">
          <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="{% url 'website_v2:services' %}">More Services</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Uniqueness End -->

  <!-- Categories Start -->
  <div class="container-fluid service overflow-hidden pt-5">
    <div class="container py-5">
      <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="sub-style">
          <h5 class="sub-title text-primary px-3">Visa Categories</h5>
        </div>
        <h1 class="display-5 mb-4">Offering Visa of Different Categories For Smooth Travel</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item">
            <div class="service-inner">
              <div class="service-img">
                <img src="{% static 'website_v2/img/bd-workers-6.webp' %}" class="img-fluid w-100 rounded" alt="Image" />
              </div>
              <div class="service-title">
                <div class="service-title-name">
                  <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                    <a class="h4 text-white mb-0">Job Visa</a>
                  </div>
                </div>
                <div class="service-content pb-4">
                  <a><h4 class="text-white mb-4 py-3">Job Visa</h4></a>
                  <div class="px-4">
                    <p class="mb-4">We will help you to get your visa and will help in all the processes along the way.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item">
            <div class="service-inner">
              <div class="service-img">
                <img src="{% static 'website_v2/img/service-1.webp' %}" class="img-fluid w-100 rounded" alt="Image" />
              </div>
              <div class="service-title">
                <div class="service-title-name">
                  <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                    <a class="h4 text-white mb-0">Business Visa</a>
                  </div>
                </div>
                <div class="service-content pb-4">
                  <a><h4 class="text-white mb-4 py-3">Business Visa</h4></a>
                  <div class="px-4">
                    <p class="mb-4">We will help you to get your visa and will help in all the processes along the way.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-item">
            <div class="service-inner">
              <div class="service-img">
                <img src="{% static 'website_v2/img/bd-workers-7.webp' %}" class="img-fluid w-100 rounded" alt="Image" />
              </div>
              <div class="service-title">
                <div class="service-title-name">
                  <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                    <a class="h4 text-white mb-0">Tourist Visa</a>
                  </div>
                </div>
                <div class="service-content pb-4">
                  <a><h4 class="text-white mb-4 py-3">Tourist Visa</h4></a>
                  <div class="px-4">
                    <p class="mb-4">We will help you to get your visa and will help in all the processes along the way.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories End -->

  <!-- Countries We Offer Start -->
  <div class="container-fluid country overflow-hidden py-5">
    <div class="container">
      <div class="section-title text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-bottom: 70px;">
        <div class="sub-style">
          <h5 class="sub-title text-primary px-3">COUNTRIES WE OFFER</h5>
        </div>
        <h1 class="display-5 mb-4">Sending Human Resources To The Following Countries</h1>
      </div>
      <div class="row g-4 text-center">
        <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.1s">
          <div class="country-item">
            <div class="rounded overflow-hidden">
              <img src="{% static 'website_v2/img/countries/place-saudi-arabia.webp' %}" class="place-img img-fluid w-100 rounded" alt="Image" />
            </div>
            <div class="country-flag">
              <img src="{% static 'website_v2/img/countries/flag-saudi-arabia.webp' %}" class="flag-img img-fluid rounded-circle" alt="Image" />
            </div>
            <div class="country-name">
              <a class="text-white fs-4">Saudi Arabia</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.3s">
          <div class="country-item">
            <div class="rounded overflow-hidden">
              <img src="{% static 'website_v2/img/countries/place-malaysia.webp' %}" class="place-img img-fluid w-100 rounded" alt="Image" />
            </div>
            <div class="country-flag">
              <img src="{% static 'website_v2/img/countries/flag-malaysia.webp' %}" class="flag-img img-fluid rounded-circle" alt="Image" />
            </div>
            <div class="country-name">
              <a class="text-white fs-4">Malaysia</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.5s">
          <div class="country-item">
            <div class="rounded overflow-hidden">
              <img src="{% static 'website_v2/img/countries/place-kuwait.webp' %}" class="place-img img-fluid w-100 rounded" alt="Image" />
            </div>
            <div class="country-flag">
              <img src="{% static 'website_v2/img/countries/flag-kuwait.webp' %}" class="flag-img img-fluid rounded-circle" alt="Image" />
            </div>
            <div class="country-name">
              <a class="text-white fs-4">Kuwait</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.7s">
          <div class="country-item">
            <div class="rounded overflow-hidden">
              <img src="{% static 'website_v2/img/countries/place-qatar-2.webp' %}" class="place-img img-fluid w-100 rounded" alt="Image" />
            </div>
            <div class="country-flag">
              <img src="{% static 'website_v2/img/countries/flag-qatar.webp' %}" class="flag-img img-fluid rounded-circle" alt="Image" />
            </div>
            <div class="country-name">
              <a class="text-white fs-4">Qatar</a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="{% url 'website_v2:countries' %}">More Countries</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Countries We Offer End -->

  <!-- Testimonial Start -->
  <div class="container-fluid testimonial overflow-hidden pb-5">
    <div class="container py-5">
      <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="sub-style">
          <h5 class="sub-title text-primary px-3">OUR CLIENTS RIVIEWS</h5>
        </div>
        <h1 class="display-5 mb-4">See What Our Clients Say About Us</h1>
      </div>
      <div class="owl-carousel testimonial-carousel wow zoomInDown" data-wow-delay="0.2s">
        <div class="testimonial-item">
          <div class="testimonial-content p-4 mb-5">
            <p class="fs-5 mb-0">
              "We've partnered with <strong>Manpower Supply Agency.</strong>for our recruitment needs, and the results have been outstanding. The agency demonstrated a deep understanding of our industry, sourcing highly skilled workers in video production and web design. The candidates not only met but exceeded our expectations, bringing innovation and expertise to our projects."
            </p>
            <div class="d-flex justify-content-end">
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
            </div>
          </div>
          <div class="d-flex">
            <div class="rounded-circle me-4" style="width: 100px; height: 100px;">
              <img class="img-fluid rounded-circle" src="{% static 'website_v2/img/placeholder.webp' %}" alt="img" />
            </div>
            <div class="my-auto">
              <h5>Fatima Ahmed Al-Mansoori</h5>
              <p class="mb-0">CEO, Desert Innovations Group</p>
            </div>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-content p-4 mb-5">
            <p class="fs-5 mb-0">
              "Choosing <strong>Manpower Supply Agency</strong> for our staffing requirements in branding and brand strategy was a decision that significantly impacted our business.The professionals we recruited through <strong>Manpower Supply Agency</strong> have played a pivotal role in enhancing our brand presence and strategy. We're impressed with their services and look forward to continued collaboration."
            </p>
            <div class="d-flex justify-content-end">
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
            </div>
          </div>
          <div class="d-flex">
            <div class="rounded-circle me-4" style="width: 100px; height: 100px;">
              <img class="img-fluid rounded-circle" src="{% static 'website_v2/img/placeholder.webp' %}" alt="img" />
            </div>
            <div class="my-auto">
              <h5>Moaz Al-Sibaai</h5>
              <p class="mb-0">CEO and Co-Founder, AL FANAR COMPANY</p>
            </div>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-content p-4 mb-5">
            <p class="fs-5 mb-0">"Our recent construction project was handled with the utmost professionalism by this company. From planning to execution, every detail was meticulously managed, ensuring the project was completed on time and within budget. Their commitment to quality and client satisfaction truly sets them apart."</p>
            <div class="d-flex justify-content-end">
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
            </div>
          </div>
          <div class="d-flex">
            <div class="rounded-circle me-4" style="width: 100px; height: 100px;">
              <img class="img-fluid rounded-circle border-1" src="{% static 'website_v2/img/placeholder.webp' %}" alt="img" />
            </div>
            <div class="my-auto">
              <h5>John Doe</h5>
              <p class="mb-0">CEO, BuildRight Construction</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->

  <!-- Training Start -->
  {% comment %} <div class="container-fluid training overflow-hidden bg-light py-5">
    <div class="container py-5">
      <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="sub-style">
          <h5 class="sub-title text-primary px-3">CHECK OUR TRAINING</h5>
        </div>
        <h1 class="display-5 mb-4">Get the Best Coacing Service Training with Our Travisa</h1>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
      </div>
      <div class="row g-4">
        <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
          <div class="training-item">
            <div class="training-inner">
              <img src="{% static 'website_v2/img/training-1.webp' %}" class="img-fluid w-100 rounded" alt="Image" />
              <div class="training-title-name">
                <a class="h4 text-white mb-0">IELTS</a>
                <a class="h4 text-white mb-0">Coaching</a>
              </div>
            </div>
            <div class="training-content bg-secondary rounded-bottom p-4">
              <a><h4 class="text-white">IELTS Coaching</h4></a>
              <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veritatis.</p>
              <a class="btn btn-secondary rounded-pill text-white p-0">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
          <div class="training-item">
            <div class="training-inner">
              <img src="{% static 'website_v2/img/training-2.webp' %}" class="img-fluid w-100 rounded" alt="Image" />
              <div class="training-title-name">
                <a class="h4 text-white mb-0">TOEFL</a>
                <a class="h4 text-white mb-0">Coaching</a>
              </div>
            </div>
            <div class="training-content bg-secondary rounded-bottom p-4">
              <a><h4 class="text-white">TOEFL Coaching</h4></a>
              <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veritatis.</p>
              <a class="btn btn-secondary rounded-pill text-white p-0">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
          <div class="training-item">
            <div class="training-inner">
              <img src="{% static 'website_v2/img/training-3.webp' %}" class="img-fluid w-100 rounded" alt="Image" />
              <div class="training-title-name">
                <a class="h4 text-white mb-0">PTE</a>
                <a class="h4 text-white mb-0">Coaching</a>
              </div>
            </div>
            <div class="training-content bg-secondary rounded-bottom p-4">
              <a><h4 class="text-white">PTE Coaching</h4></a>
              <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veritatis.</p>
              <a class="btn btn-secondary rounded-pill text-white p-0">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
          <div class="training-item">
            <div class="training-inner">
              <img src="{% static 'website_v2/img/training-4.webp' %}" class="img-fluid w-100 rounded" alt="Image" />
              <div class="training-title-name">
                <a class="h4 text-white mb-0">OET</a>
                <a class="h4 text-white mb-0">Coaching</a>
              </div>
            </div>
            <div class="training-content bg-secondary rounded-bottom p-4">
              <a><h4 class="text-white">OET Coaching</h4></a>
              <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veritatis.</p>
              <a class="btn btn-secondary rounded-pill text-white p-0">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s">View More</a>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <!-- Training End -->

  <!-- Contact Start -->
  {% comment %} <div class="container-fluid contact overflow-hidden pb-5">
    <div class="container py-5">
      <div class="office pt-5">
        <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
          <div class="sub-style">
            <h5 class="sub-title text-primary px-3">Worlwide Offices</h5>
          </div>
          <h1 class="display-5 mb-4">Explore Our Office Worldwide</h1>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
        </div>
        <div class="row g-4 justify-content-center">
          <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
            <div class="office-item p-4">
              <div class="office-img mb-4">
                <img src="{% static 'website_v2/img/office-2.webp' %}" class="img-fluid w-100 rounded" alt="" />
              </div>
              <div class="office-content d-flex flex-column">
                <h4 class="mb-2">Australia</h4>
                <a class="text-secondary fs-5 mb-2">+123.456.7890</a>
                <a class="text-muted fs-5 mb-2">travisa@example.com</a>
                <p class="mb-0">123, First Floor, 123 St Roots Terrace, Los Angeles 90010 Unitd States of America.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="office-item p-4">
              <div class="office-img mb-4">
                <img src="{% static 'website_v2/img/office-1.webp' %}" class="img-fluid w-100 rounded" alt="" />
              </div>
              <div class="office-content d-flex flex-column">
                <h4 class="mb-2">Canada</h4>
                <a class="text-secondary fs-5 mb-2">(012) 0345 6789</a>
                <a class="text-muted fs-5 mb-2">travisa@example.com</a>
                <p class="mb-0">123, First Floor, 123 St Roots Terrace, Los Angeles 90010 Unitd States of America.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
            <div class="office-item p-4">
              <div class="office-img mb-4">
                <img src="{% static 'website_v2/img/office-3.webp' %}" class="img-fluid w-100 rounded" alt="" />
              </div>
              <div class="office-content d-flex flex-column">
                <h4 class="mb-2">United Kingdom</h4>
                <a class="text-secondary fs-5 mb-2">01234.567.890</a>
                <a class="text-muted fs-5 mb-2">travisa@example.com</a>
                <p class="mb-0">123, First Floor, 123 St Roots Terrace, Los Angeles 90010 Unitd States of America.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
            <div class="office-item p-4">
              <div class="office-img mb-4">
                <img src="{% static 'website_v2/img/office-4.webp' %}" class="img-fluid w-100 rounded" alt="" />
              </div>
              <div class="office-content d-flex flex-column">
                <h4 class="mb-2">India</h4>
                <a class="text-secondary fs-5 mb-2">+123.45.67890</a>
                <a class="text-muted fs-5 mb-2">travisa@example.com</a>
                <p class="mb-0">123, First Floor, 123 St Roots Terrace, Los Angeles 90010 Unitd States of America.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <!-- Contact End -->
{% endblock %}
