<form method="post" action="{% url 'company_documentation_app:company_document_category_edit' company_document_category.pk %}" class="companyDocumentCategoryEditForm" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- <input type="text" name="passenger" value="{{ passenger_id }}" hidden /> -->

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Company Document Category</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <div class="row g-3 mb-6">
      <!-- name field -->
      <div class="col-sm-6 col-md-12">
        <div class="form-submit">
          <label for="submitgrid">Category Name</label>
          <input class="form-control" name="name" type="text" placeholder="Name" value="{{ company_document_category.name }}" required />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- submit & close -->
    <div class="form-submit">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" id="loading" class="btn btn-primary" data-bs-save="modal">submit</button>
    </div>
  </div>
</form>
