<div class="sticky-leads-sidebar">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <button class="btn p-0" data-phoenix-dismiss="offcanvas"><span class="uil uil-times fs-1"></span></button>
  </div>

  <div class="card mb-3" id="agent-card-1">
    {% include 'agent_management/agent_details/agent_card_1.html' %}
  </div>

  <div class="card mb-3" id="agent-card-2">
    {% include 'agent_management/agent_details/agent_card_2.html' %}
  </div>

  <div class="phoenix-offcanvas-backdrop d-lg-none top-0" data-phoenix-backdrop="data-phoenix-backdrop"></div>
</div>
