{% for data in account_list_exclude_first %}
  <tr class="hover-actions-trigger btn-reveal-trigger position-static">
    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">{{ data.transaction_date|date:'Y-m-d' }}</td>

    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">{{ data.debit }}</td>
    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">{{ data.credit }}</td>
    <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">{{ data.total_balance }}</td>

    {% if data.note %}
      <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">{{ data.note }}</td>
    {% else %}
      <td class="name align-middle white-space-nowrap fw-semi-bold text-1000 ps-4 border-end">
        <span style="color: red;">No Note</span>
      </td>
    {% endif %}
  </tr>
{% endfor %}

<!-- Ajax modal for dynamic content -->
<div class="modal fade" id="AccountModal" tabindex="-1" aria-labelledby="AccountLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<!-- accounts -->
<script>
  $(function () {
    /* load form */
    console.log('load form')
    var loadForm = function () {
      var edit = document.getElementById('AccountModal')
      var url
      url = $(this).attr('data-url')
  
      $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
  
        beforeSend: function () {
          $(edit).modal('show')
        },
  
        success: function (data) {
          $('#AccountModal .modal-content').html(data.html_form)
          console.log('Success !')
        }
      })
    }
  
    /* Save Form */
    var saveForm = function () {
      var edit = document.getElementById('AccountModal')
      var form = $(this)
  
      $.ajax({
        url: form.attr('action'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
  
        beforeSend: function () {
          $('#loading').html('<div class="text-center"><div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div></div>')
        },
  
        success: function (data) {
          if (data.form_is_valid) {
            $('#account-table tbody').html(data.html_account_list)
            $('#opening-bal-date').html(data.html_opening_bal_date)
            $('#opening-balance').html(data.html_opening_balance)
            $('#account-all-button').html(data.html_account_button)
  
            $(edit).modal('hide')
          } else {
            $('#AccountModal .modal-content').html(data.html_form)
          }
        }
      })
      return false
    }
  
    // Delete Training List
    $('#account-table').on('click', '.accountDeleteButton', loadForm)
    $('#AccountModal').on('submit', '.accountDeleteForm', saveForm)
  })
</script>
