<form method="post" action="{% url 'passenger_app:payment'  passenger_id %}" class="paymentForm">
  {% csrf_token %}

   <input type="text" name="passenger" value="{{ passenger_id }}" hidden  > 
   
  <input class="form-control" name="previous_balance" value="0.0" hidden/>
  <input class="form-control" name="total_balance" value="0.0" hidden/>

  
  <input class="form-control" name="credit" value="0.0" hidden/>
  
  <input class="form-control" name="opening_balance" type="number" value="0.0"  hidden />
  
   <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <div class="row g-3 mb-6">
      
     <!--Opening Balance-->
      <div class="col-sm-6 col-md-12">
        <div class="form-submit">
          <label for="submitgrid">Debit Amount</label>
          <input class="form-control" name="debit" type="number" placeholder="Debit" />
        </div>
      </div> 
      <!--note  field-->
      <div class="col-sm-6 col-md-12">
        <div class="form-submit">
          <label for="submitgrid">Note</label>
          <textarea name="note" class="form-control" rows="2" placeholder="Note"></textarea>
        </div>
      </div>

     
            

      </div>
  </div>

     


  <div class="modal-footer">
    
    <!--submit & close-->
    <div class="form-submit">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" id="loading" class="btn btn-primary" data-bs-save="modal">submit</button>
    </div>
  </div>
</form>