

{% comment %} <style>
  .alert {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
  }
</style>
<div class="alert" role="alert">
  Code Time Unvalidated 
  <i style="margin-left: 5px;" class="fa-solid fa-exclamation"></i>
  "Resent Code"
</div> {% endcomment %}


<style>
  .notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  }
  .notice-sm {
    padding: 10px;
    font-size: 80%;
    border-radius: 5px;
  }

  .notice-danger {
    border-color: #d73814;
  }
  .notice-danger > strong {
    color: #d73814;
  }
</style>

{% comment %}
<div class="notice notice-warning"><strong>Invalid email</strong> Please check and try again.</div>
{% endcomment %}

<div class="notice notice-danger notice-sm"><strong>Code time unvalidated ,</strong> Please resent code and try again.</div>
