{% extends 'base/base.html' %}

{% block page_name %}
  {{ page_name }}
{% endblock %}

{% block content %}
  <div class="content">
    <!-- content -->
    <div class="pb-9">
      <h2 class="mb-4">Company Document || Management</h2>
      <div id="dealsTable">
        <div class="row g-3 justify-content-between mb-4">
          <div class="col-auto">
            <div class="d-md-flex justify-content-between">
              <div id="middleman-create">
                <button type="button" class="btn middlemanAddButton btn-primary" data-url="{% url 'passenger_app:document_create' %}">
                  <i class="fa fa-add"></i>
                  Add Document
                </button>
              </div>
            </div>
          </div>

          <!-- search by agent name -->

          <div class="col-auto">
            <div class="d-flex">
              <div class="search-box me-2">
                <form class="position-relative search_middleman_form" action="" data-bs-toggle="search" data-bs-display="static">
                  <input class="form-control search-input search" type="search" id="middleman_search_input" placeholder="Search by ID" />
                  <span class="fas fa-search search-box-icon"></span>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- middleman card -->
        <div class="col-xl-12 col-xxl-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive scrollbar mx-n1 px-1 border-top">
                <table id="middleman-table" class="table fs--1 mb-0 leads-table border-bottom">
                  <thead>
                    <tr>
                      <!-- middle id -->
                      <th class="align-middle white-space-nowrap pe-4 text-center text-uppercase border-end" scope="col" style="width: 15%">Documet Number</th>

                      <!-- Name -->
                      <th class="align-middle white-space-nowrap pe-4 text-center text-uppercase border-end" scope="col" style="width: 10%">Category</th>

                      <!-- Name -->
                      <th class="align-middle white-space-nowrap pe-4 text-center text-uppercase border-end" scope="col" style="width: 15%">Name</th>

                      <!-- expiration_date -->
                      <th class="align-middle white-space-nowrap pe-4 text-center text-uppercase border-end" scope="col" style="width: 10%">Expiration Date</th>

                      <th class="align-middle white-space-nowrap pe-4 text-center text-uppercase border-end" scope="col" style="width: 15%">Document File</th>

                      <th class="align-middle white-space-nowrap pe-4 text-center text-uppercase border-end" scope="col" style="width: 15%">status</th>

                      <!-- Action -->
                      <th class="sort align-middle ps-4 pe-5 text-uppercase" scope="col" style="width: 15%">
                        <div class="d-inline-flex flex-center">
                          <div class="d-flex align-items-center px-1 py-1 rounded me-2"></div>
                          <span>Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody class="list" id="middleman_table_list">
                    {% include 'company_document/create_document_list.html' %}
                  </tbody>
                </table>
              </div>

              <!-- pegination -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ajax modal for dynamic content -->
    <div class="modal fade" id="MiddlemanModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

    <!-- CRUD script for Company Document -->
    <script>
      $(function () {
        /* load form */
        var loadForm = function () {
          var modal_form = document.getElementById('MiddlemanModal')
          var url
          url = $(this).attr('data-url')
      
          $.ajax({
            url: url,
            type: 'get',
            dataType: 'json',
      
            beforeSend: function () {
              $('#MiddlemanModal').modal('show')
              $('#MiddlemanModal .modal-content').html('<form method="" action="" class="" enctype="multipart/form-data"><div class="modal-header"><div id="five"></div> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div><div class="modal-body"><div class="row g-3 mb-6"><div class="col-sm-12 col-md-12"><div id="three"></div></div><div class="col-sm-12 col-md-12"><div id="four"></div></div><div class="col-sm-6 col-md-12"><div id="seven"></div></div><div class="col-sm-6 col-md-6"><div class="form-submit"></div></div><div class="col-sm-6 col-md-6"><div class=""></div></div><div class="col-sm-6 col-md-12"><div class=""></div></div><div class="col-sm-6 col-md-6"><div class=""></div></div><div class="col-sm-12 col-md-12"><div id="eight"></div></div><div class="col-sm-6 col-md-12"><div id="ten"></div></div><div class="col-sm-6 col-md-12"><div id="nine"></div></div></div></div><div class="modal-footer"><div id="six"></div></div></form>')
            },
            success: function (data) {
              $('#MiddlemanModal .modal-content').html(data.html_form)
              console.log('Success for company Document !')
            }
          })
        }
      
        /* save form */
        var saveForm = function () {
          var form = $(this)
          var formData = new FormData(form[0])
      
          $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            dataType: 'json',
            data: formData,
      
            processData: false,
            contentType: false,
      
            beforeSend: function (xhr) {
              xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
              $('#loading').html('<div class="text-center"><div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div></div>')
            },
      
            success: function (data) {
              if (data.form_is_valid) {
                $('#middleman-table tbody').html(data.company_document_data)
                $('#MiddlemanModal').modal('hide')
              } else {
                $('#middlemanModal .modal-content').html(data.html_form)
              }
            }
          })
          return false
        }
      
        //create
        $('#middleman-create').on('click', '.middlemanAddButton', loadForm)
        $('#MiddlemanModal').on('submit', '.midlemanAddForm', saveForm)
      
        //edit
        $('#middleman_table_list').on('click', '.middlemanEditButton', loadForm)
        $('#MiddlemanModal').on('submit', '.middlemanEditForm', saveForm)
      
        //delete
        $('#middleman_table_list').on('click', '.middlemanDeleteButton', loadForm)
        $('#MiddlemanModal').on('submit', '.middlemanDeleteForm', saveForm)
      })
    </script>

    <!-- Footer -->
    {% include 'base/footer.html' %}
  </div>
{% endblock %}
