<form method="post" action="{% url 'passenger_app:passenger_general_document_create' passenger.id %}" class="passengerGeneralDocumentAddForm" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Document Form</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <input type="hidden" name="passenger" value="{{ passenger.id }}" />

  <div class="modal-body">
    <div class="row g-3 mb-6">
      <!-- document_type field -->
      <div class="col-sm-6 col-md-6">
        <div class="form-submit">
          <label for="submitgrid">Document Type</label>
          <select id="select_document_type" class="form-select" name="document_type" required>
            <option value="" hidden>Select Type</option>
            {% for value, label in type_choices %}
              <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!-- document_name field -->
      <div class="col-sm-6 col-md-6">
        <div class="form-submit">
          <label for="submitgrid">Document Name</label>
          <input class="form-control" name="document_name" type="text" placeholder="Document Name" required />
        </div>
      </div>

      <!-- expiration_date field -->
      <div class="col-sm-6 col-md-6">
        <div class="form-submit">
          <label for="submitgrid">Expiration Date</label>
          <input id="" class="form-control" name="expiry_date" type="date" placeholder="Expiration Date" />
        </div>
      </div>

      <!-- national_id field -->
      <div class="col-sm-6 col-md-6">
        <div class="form-submit">
          <label for="submitgrid">Notes</label>
          <input class="form-control" name="note" type="text" placeholder="Small Notes" />
        </div>
      </div>

      <!-- file field -->
      <div class="col-sm-6 col-md-12">
        <div class="form-submit">
          <label for="submitgrid">Upload File</label>
          <input class="form-control" name="document_file" type="file" placeholder="PDF/PNG/JPG File" required />
        </div>
      </div>

      <!-- note field -->
      <div class="col-sm-6 col-md-12">
        <div class="form-submit">
          <label for="submitgrid">Description</label>
          <textarea class="form-control" name="description" type="text" placeholder="Description"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- submit & close -->
    <div class="form-submit">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" id="loading" class="btn btn-primary" data-bs-save="modal">Submit</button>
    </div>
  </div>
</form>
